<link rel="stylesheet" href="/css/home.css" />

<h1><%= title %> page</h1>

<section id="feed-posts">
  <!-- post form -->
  <%- include('add_post_form'); %>

  <div id="posts-list-container">
    <% if(locals.user){ %>       
        <%- include('post_list'); %>
    <% } %>
  </div>

</section>
