<link rel="stylesheet" href="/css/home.css" />

<div class="home-container">
  <section id="feed-posts">
    <!-- post form -->
    <%- include('add_post_form'); %>
    <div id="posts-list-container">
      <% if(locals.user){ %> <%- include('post_list'); %> <% } %>
    </div>
  </section>
  <section id="user-friends">
    <h1>Friends</h1>
    <% for(u of all_user){%>
    <p>
      <%= u.name %>
      <a href="/users/profile/<%= u.id %>"> details </a>
    </p>
    <%}%>
  </section>
</div>
<script src="/js/home_posts.js"></script>