<link rel="stylesheet" href="/css/comments.css" />
<ul class="post-comments-list-<%= post._id %>">
    <li>
    <% for (comment of post.comments){%>
    <div class="comments">      
      <table style="width:100%">
        <tr>
          <td style="width:130px"><b><%= comment.content %></b></td>                  
          <td style="width:35px"><label class="switch">
            <input type="checkbox">            
            <span class="heart-style"><i class="fa fa-heart"></i></span>
          </label></td>
          <td style="width:35px;" ><% if(locals.user && locals.user.id == comment.user.id){%>
            <small>
              <a href="/comments/destroy/<%= comment.id %>"> X </a>
            </small>  
          <%}%></td>
          <td style="width:60px;"><small>: <%= comment.user.name %> </small></td>  
        </tr>       
      </table>
    </div>
    <%} %>
  </li>
  </ul>