body {  
  text-align: center;
}
input{
  margin-top: 10px;
  font-size: large;
}
small {
  color: rgb(142, 35, 35);
  font-weight: 600;
}

#posts-list-container {
  text-align: -webkit-center;
}
li {
  list-style: none;
}
.home-container{
  display: flex;
  #feed-posts{
    width: 70%;
    border: 10px whitergb(23, 35, 70)
  }
  #user-friends{
    width: 30%;
    background-color: beige;
    
    color: purple;
    a{
      color: green;
      font-style: none;
    }
    
  }
}