body {
  text-align: center; }

input {
  margin-top: 10px;
  font-size: large; }

small {
  color: #8e2323;
  font-weight: 600; }

#posts-list-container {
  text-align: -webkit-center; }

li {
  list-style: none; }

.home-container {
  display: flex; }
  .home-container #feed-posts {
    width: 70%;
    border: 10px whitergb(23, 35, 70); }
  .home-container #user-friends {
    width: 30%;
    background-color: beige;
    color: purple; }
    .home-container #user-friends a {
      color: green;
      font-style: none; }
